.footer-dark {
  position: relative;
  padding: 50px 30px 15px;
  border-bottom: 1px solid hsla(212.00000000000006, 38.46%, 92.35%, 1.00);
  background-color: hsla(223.63636363636363, 39.29%, 10.98%, 1.00);
  font-family: Manrope;
}

@media screen and (max-width: 767px) {
  .footer-dark {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.footer-wrapper {
  display: flex;
  padding-top: 4em;
  padding-bottom: 2em;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .footer-wrapper {
    padding-right: 0em;
    padding-left: 0em;
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-brand-holder {
  max-width: 368px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  color: hsla(215.99999999999991, 12.20%, 83.92%, 1.00);
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .footer-block {
    align-items: flex-start;
  }
}

.footer-link {
  margin-top: 12px;
  margin-bottom: 6px;

  opacity: 0.9;

  transition: color 500ms ease;

  color: hsla(215.99999999999991, 0.00%, 100.00%, 1.00);
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  text-decoration: none;
}

.footer-link:hover {
  color: hsla(0, 5.05%, 71.21%, 1.00);
}

@media screen and (max-width: 767px) {
  .footer-link:hover {
    color: rgba(26, 27, 31, 0.75);
  }
}

.footer-content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 119px;
  grid-row-gap: 119px;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .footer-content {
    margin-right: 35px;
    grid-column-gap: 29px;
    grid-row-gap: 29px;
  }
}

@media screen and (max-width: 767px) {
  .footer-content {
    margin-top: 40px;
    justify-items: start;
    grid-column-gap: 84px;
    grid-row-gap: 84px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .footer-content {
    justify-items: start;
    grid-column-gap: 34px;
    grid-row-gap: 34px;
    grid-template-columns: 1fr 1fr;
  }
}

.footer-copyright-center {
  padding-top: 1em;
  padding-bottom: 1em;

  color: hsla(217.89473684210526, 0.75%, 77.16%, 1.00);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .footer-copyright-center {
    text-align: left;
  }
}