.footer-social-link {
  margin-right: 12px;
  margin-left: 12px;
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .footer-social-link {
    margin-left: 20px;
  }
}

.social-media-icon {
  border-radius: 15px;
  background-color: transparent;
  color: transparent;
}