.navbar {
  background-color: #222837;
}

.menu-wrapper {
  display: flex;
  max-height: 60px;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .menu-wrapper {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.logo-image {
  width: 190px;
  height: auto;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav-blocks {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .nav-blocks {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: center;

    border-top: 1px solid black;

    background-color: #222837;
  }
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.nav-item-2 {
  display: inline-block;
  padding: 8px 17px;

  transition: all 500ms ease;

  color: #999;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;
}

.nav-item-2:hover {
  color: hsla(233.64705882352942, 1.21%, 84.48%, 1.00);
}

.nav-item-2:global(.w--current) {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  background-color: #141727;
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .nav-item-2 {
    margin-bottom: 16px;
  }
}

.nav-item-active-2 {
  display: inline-block;
  padding: 8px 17px;

  border-radius: 5px;

  background-color: #141727;

  transition: all 500ms ease;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-style: normal;
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;
}

.nav-item-active-2:hover {
  color: hsla(233.64705882352942, 0.00%, 100.00%, 1.00);
}

.nav-item-active-2:global(.w--current) {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  background-color: #141727;
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.auth-handler {
  display: flex;
  margin-left: 64px;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .auth-handler {
    margin-top: 32px;
  }
}

.mini-button-2 {
  padding: 5px 6px;

  border: 1px solid #7556ed;
  border-radius: 5px;

  background-color: transparent;

  color: hsla(230.52631578947367, 11.33%, 90.98%, 1.00);
  font-size: 13px;
}

.mini-button-2:hover {
  border-color: hsla(252.31788079470195, 54.09%, 66.60%, 1.00);
  color: hsla(230.52631578947367, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .mini-button-2 {
    margin-top: 16px;
    margin-left: 0px;
  }
}

.user-2 {
  display: flex;
  margin-left: 20px;
  align-items: center;
  transition: opacity 500ms ease;
  text-decoration: none;
}

.user-2:hover {
  opacity: 0.9;
}

@media screen and (max-width: 991px) {
  .user-2 {
    display: flex;
    margin-top: 16px;
  }
}

.username {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  text-decoration: none;
}

.avatar {
  margin-left: 10px;
  border-radius: 99px;
}

.header-btn-2 {
  padding: 8px 16px;

  border: 1px solid #7556ed;
  border-radius: 5px;

  background-color: #7556ed;

  transition: all 500ms ease;

  line-height: 24px;
  font-weight: 700;
}

.header-btn-2:hover {
  border-color: #02162d;
  background-color: hsla(252.31788079470195, 87.83%, 72.61%, 1.00);
  color: hsla(212.09302325581396, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .header-btn-2 {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .menu-button-2 {
    background-color: hsla(221.7391304347826, 25.84%, 17.45%, 1.00);
  }
}

@media screen and (max-width: 991px) {
  .menu-button-2:global(.w--open) {
    background-color: #222837;
  }
}

@media screen and (max-width: 991px) {

}