.footer-link {
  margin-top: 12px;
  margin-bottom: 6px;

  opacity: 0.9;

  transition: color 500ms ease;

  color: hsla(215.99999999999991, 0.00%, 100.00%, 1.00);
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  text-decoration: none;
}

.footer-link:hover {
  color: hsla(0, 5.05%, 71.21%, 1.00);
}

@media screen and (max-width: 767px) {
  .footer-link:hover {
    color: rgba(26, 27, 31, 0.75);
  }
}