.nav-item {
  display: inline-block;
  padding: 8px 17px;

  transition: all 500ms ease;

  font-family: Manrope;
  color: #999;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;
}

.nav-item:hover {
  color: hsla(233.64705882352942, 1.21%, 84.48%, 1.00);
}

.nav-item:global(.w--current) {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  background-color: #141727;
  color: hsla(0, 0.00%, 100.00%, 1.00);
}