.navigation-item {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navigation-item.active {
  display: flex;
  align-items: center;
  border-style: none none solid;
  border-width: 1px;
  border-color: hsla(0, 46.42%, 51.47%, 1.00) hsla(0, 46.42%, 51.47%, 1.00) #632be1;
}

.navigation-item.border-bottom-inactive {
  border-bottom: 2px solid #632be1;
}

.navigation-item.border-bottom-active {
  border-bottom: 2px solid #632be1;
}